@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Rozha+One&display=swap');

body{
    background: rgb(255,212,231);
    background: radial-gradient(circle, rgba(255,212,231,1) 0%, rgba(249,165,138,1) 100%);
}


.carousel-custom-size {
    width: 75%; 
    height: 300px; 
    margin: 0 auto; 
}

.carousel-custom-size img {
    height: 100%; 
    object-fit: cover; 
}

.title{
    text-align: center;
    font-family: "Spicy Rice",sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;


}

h1{
    font-size: 100px;
}

h2{
    font-family: "Rozha One", sans-serif;
    padding: 2%;
    text-align: center;
    font-size: 90px;
    animation: fadeIn 2s ease-in-out;
}


.card {
    margin-bottom: 20px; 
    padding: 5%;
    border-radius: 3%;
    font-family: "Hind Siliguri", sans-serif;
    font-size: 30px;
}

header{
    padding: 3%;
}


#valorFinal{
    background-color: white;
    font-family:"Hind Siliguri", sans-serif;
    font-size: 30px;

    h3{
        font-size: 40px;

    }
}

.btn {
    background-color: #be3886; 
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.btn:hover {
    background-color: #45a049; 
    transform: scale(1.1);
}

